 .avatarStyle{
    width: 200px;
    height: 320px;
}

.main { width: 90%; height: 100vh; margin: auto; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}

 .main h1{ margin: 0; padding: 20px 0px; }
 
 